*.root
*.dat
*.pyc
*.log
last_run.log
DT5742Dat2Root
VMEDat2Root
DRSDat2Root
DRSclDat2Root
ETL_ASIC_Dat2Root
data/

NetScopeDat2Root
NetScopeStandaloneDat2Root
pulses_imgs/pulse_event*.png
automation/lsfbatch/jobs/LSFJOB*
automation/lsfbatch/log/*.log
automation/condor/cmd/*
*.o
*.dSYM
*.*~
*#
