*.root
*.dat
*.pyc
last_run.log
VMEDat2Root
DRSDat2Root
DRSclDat2Root
ETL_ASIC_Dat2Root
data/

NetScopeDat2Root
NetScopeStandaloneDat2Root
pulses_imgs/pulse_event*.png
automation/lsfbatch/LSFJOB*
automation/condor/cmd/*
*.o
*.dSYM
*.*~
*#
