Baseline 15 15
ConstantFraction 10 20 30
ConstantThreshold -10 -20 -30 -50 -70
z_DUT -50. 50. 2000 2100
# CH (#) | POLARITY (+/-) | AMPLIFICATION (dB) | ATTENUATION (dB) | ALGORITHM (None, Re, G) | WEIERSTRASS FILTER_WIDTH (0 for no filter)
0  +  0.  0. TOT  0.
1  +  0.  0. TOT  0.
2  +  0.  0. TOT  0.
3  +  0.  0. TOT  0.
4  +  0.  0. TOT  0.
5  +  0.  0. TOT  0.
6  +  0.  0. TOT  0.
7  +  0.  0. TOT  0.
8  +  0.  0. TOT  0.
9  +  0.  0. TOT  0.
10  +  0.  0. TOT  0.
17  +  0.  0. TOT  0.
18  +  0.  0. TOT  0.
19  +  0.  0. TOT  0.
20  +  0.  0. TOT  0.
21  +  0.  0. TOT  0.
22  +  0.  0. TOT  0.
23  +  0.  0. TOT  0.
