ConstantFraction 2 3 5 7 10 20 30 40 50 60 70
ConstantThreshold -5 -10 -30 -50 -100 -150 -200 -250 -300 -350 -400 -450 -500 -550 -600 -650 -700
z_DUT 100.
# CH (#) | POLARITY (+/-) | Baseline start time | Baseline stop time | AMPLIFICATION (dB) | ATTENUATION (dB) | ALGORITHM (None, Re, G) | WEIERSTRASS FILTER_WIDTH (0 for no filter)
0   +   5  20  0.  0. G40+FL+LP1  0.
2   +   5  15  0.  0. LP2+LP1+FL  0.
3   +   5  15  0.  0. LP2+LP1+FL  0.
4   +   5  15  0.  0. LP2+LP1+FL  0.
5   +   5  15  0.  0. LP2+LP1+FL  0.
19  -   5  15  0.  0. LP2+FL      0.
20  -   5  15  0.  0. LP2+FL      0.
21  -   5  15  0.  0. LP2+FL      0.
22  -   5  15  0.  0. LP2+FL      0.
