Baseline 979 20
ConstantFraction 0.05 1 2 4 6 8 10
#ConstantThreshold 2 4 8 16 32 64 128 256
# CH (#) | POLARITY (+/-) | AMPLIFICATION (dB) | ATTENUATION (dB) | ALGORITHM (None, Re, G) | WEIERSTRASS FILTER_WIDTH (0 for no filter)
0   -  0.  0. Re  0.
##PulseShape##
Npe 8000
nThreshold 20
ScintillationDecayConstant 40
ScintillationRisetime 0
SinglePhotonRisetimeResponse 1.
SinglePhotonDecaytimeResponse 1.
DarkCountRate 40
HighPassFilterRC 10000