Baseline 30 70
ConstantFraction 10 15 25 30 40 50 70 80 90
ConstantThreshold -20 -30 -40 -60 -80 -90 -100
z_DUT -50. 50. 2286.
# CH (#) | POLARITY (+/-) | AMPLIFICATION (dB) | ATTENUATION (dB) | ALGORITHM (None, Re, G) | WEIERSTRASS FILTER_WIDTH (0 for no filter)
0   +  0.  0. G40  0.
1   +  0.  0. LP2+LP1  0.
2   +  0.  0. LP2+LP1  0.
3   +  0.  0. LP2+LP1  0.
4   +  0.  0. LP2+LP1  0.
5   +  0.  0. LP2+LP1  0.
6   +  0.  0. LP2+LP1  0.
9   +  0.  0. G40  0.
10   +  0.  0. LP2+LP1  0.
11   +  0.  0. LP2+LP1  0.
12   +  0.  0. LP2+LP1  0.
13   +  0.  0. LP2+LP1  0.
14   -  0.  0. LP2+LP1  0.
15   +  0.  0. LP2+LP1  0.
27   +  0.  0. G40  0.
28   +  0.  0. LP2+LP1  0.
29   +  0.  0. LP2+LP1  0.
30   +  0.  0. LP2+LP1  0.
31   +  0.  0. LP2+LP1  0.
